<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描controller包下所有的文件-->
    <context:component-scan base-package="com.jnshu.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>
    </context:component-scan>

    <!--设置全局异常处理器-->
    <bean id="studentExceptionResolver" class="com.jnshu.exception.StudentExceptionResolver"></bean>


    <!--开启SpringMVC注解模式-->
    <!-- 添加效验器和转换器-->
    <mvc:annotation-driven conversion-service="FormattingConversionService" validator="validator"></mvc:annotation-driven>

    <!--配置转换器-->
    <bean id="FormattingConversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!--转换器-->
        <property name="converters">
            <list>
                <!--日期转换器-->
                <bean class="com.jnshu.utils.TimeConvert"></bean>
            </list>
        </property>
    </bean>

    <!--配置效验器-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!--一定要加classpath:，不然不能获取，尽管报错-->
                <value>classpath:ValidationMessages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>

    <!--静态资源访问-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--静态资源访问。注意：jetty需要关闭锁定静态资源，才能使用-->
    <!--<mvc:resources location="/static/" mapping="/static/**"/>-->

    <!--自定义视图解析器-->
    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>

        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!--<property name="prefix" value="/WEB-INF/pages/"></property>-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 对上传文件的解析-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <!--启动拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.jnshu.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- json注解适配器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
            </list>
        </property>
    </bean>

    <!--全局异常处理器-->
    <bean class="com.jnshu.exception.StudentExceptionResolver"></bean>

</beans>